body {
  background-color: #222831;
  color: #eeeeee;
  font-style: normal;
}

h1{
  font-family: 'Turret Road', cursive;
  font-weight: lighter;
}

hr{
  text-align: center;
  color: #5b6575;
  border: none;  
  border-top: 5px dotted;
  width: 25%;
}

a{
  color: #5b6575;
}

a:hover{
  color: #00adb5;
}

.mainrpic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width:175px;
  height:175px;
}
